
bases/training_text

bases/test_text

bases/working_test.csv

bases/working_train.csv

w2v_trained

No_window/checkpoints_databases/nw_working_test.csv

No_window/checkpoints_databases/nw_working_train.csv

window/w2v_features

No_window/w2v_features

window/checkpoints_databases/w_working_train.csv

window/checkpoints_databases/w_working_train_tfidf.npz

window/checkpoints_databases/w_working_test_tfidf.npz

No_window/checkpoints_databases/working_train_tfidf.npz

No_window/checkpoints_databases/working_test_tfidf.npz

window/checkpoints_databases/w_working_test.csv

*.npz

l2_meta_features/meta_test_l1l2.csv

l2_meta_features/meta_train_l1l2.csv

No_window/nw_meta_features/meta_test_l1l2.csv

No_window/nw_meta_features/meta_train_l1l2.csv
bases/training_variants
bases/test_variants
*.zip
*.csv
bases/test_variants
Leaks/Leaks_all
Leaks/Leaks_sub
Leaks/Leaks_sub
Leaks/Leaks_all
Leaks/Leaks_sub
Leaks/Leaks_all
Leaks/Leaks_all
Leaks/Leaks_sub
*.npz
*.npz
*.npz
No_window/checkpoints_databases/nw_working_train_w2v.npz
*.csv
*.npz
*.npz
*.npz
*.npz
*.npz
*.npz
