
bases/training_text

bases/test_text

bases/working_test.csv

bases/working_train.csv

w2v_trained

No_window/checkpoints_databases/nw_working_test.csv

No_window/checkpoints_databases/nw_working_train.csv

window/w2v_features

No_window/w2v_features

window/checkpoints_databases/w_working_train.csv

window/checkpoints_databases/w_working_train_tfidf.npz

window/checkpoints_databases/w_working_test_tfidf.npz

No_window/checkpoints_databases/working_train_tfidf.npz

No_window/checkpoints_databases/working_test_tfidf.npz

window/checkpoints_databases/w_working_test.csv

*.npz

l2_meta_features/meta_test_l1l2.csv

l2_meta_features/meta_train_l1l2.csv

No_window/nw_meta_features/meta_test_l1l2.csv

No_window/nw_meta_features/meta_train_l1l2.csv
bases/training_variants
bases/test_variants
*.zip
*.csv
bases/test_variants
Leaks/Leaks_all
Leaks/Leaks_sub
Leaks/Leaks_sub
Leaks/Leaks_all
Leaks/Leaks_sub
Leaks/Leaks_all
Leaks/Leaks_all
Leaks/Leaks_sub
*.npz
*.npz
*.npz
No_window/checkpoints_databases/nw_working_train_w2v.npz
*.csv
*.npz
*.npz
*.npz
*.npz
*.npz
*.npz
No_window/w2v_features100
No_window/w2v_features200
No_window/w2v_features300
*.npy
testingfranck.ipynb
.ipynb_checkpoints/testingfranck-checkpoint.ipynb
testingfranck.ipynb
Kernel_Doc2Vec.ipynb
localisation
.ipynb_checkpoints/Kernel_Doc2Vec-checkpoint.ipynb
.ipynb_checkpoints/Modeling_solo-checkpoint.ipynb
.ipynb_checkpoints/Pre_Processing-checkpoint.ipynb
.ipynb_checkpoints/Pre_Processing_2-checkpoint.ipynb
.ipynb_checkpoints/Pre_processing_new-checkpoint.ipynb
.ipynb_checkpoints/Pre_Processing_solo-checkpoint.ipynb
No_window/.ipynb_checkpoints/nw_Pre_processing_uniprot-checkpoint.ipynb
No_window/.ipynb_checkpoints/nw_Pre_processing_uniprot-Copy1-checkpoint.ipynb
Pre_processing_new.ipynb
solo_model/Modeling_solo.ipynb
solo_model/Pre_Processing_solo.ipynb
uniprot_extra_features/.ipynb_checkpoints/uniprot_biological_process-checkpoint.ipynb
uniprot_extra_features/.ipynb_checkpoints/uniprot_molecular_fucntion-checkpoint.ipynb
Window/old w_pre_processing/.ipynb_checkpoints/w_Pre_Processing_original-checkpoint.ipynb
Window/.ipynb_checkpoints/w_Pre_Processing_1-checkpoint.ipynb
window/.ipynb_checkpoints/w_Pre_Processing-checkpoint.ipynb
uniprot_extra_features/uniprot_pre/.ipynb_checkpoints/uniprot_biological_pre_processing-checkpoint.ipynb
uniprot_extra_features/uniprot_pre/.ipynb_checkpoints/uniprot_molecular_pre_processing-checkpoint.ipynb
window/w2v_features100
window/w2v_features200
window/w2v_features300
bases/PMC-w2v.bin
bases/wikipedia-pubmed-and-PMC-w2v.bin
bases/PMC-w2v.bin
bases/wikipedia-pubmed-and-PMC-w2v.bin
No_window/nw_Pre_Processing.ipynb
window/checknn
window/new_pre_processing.ipynb
window/new_pre_processing.ipynb
window/new_pre_processing.ipynb
